


// Fonts
$main-font: "Montserrat", sans-serif;

// Colors
$black: #444;
$white: #fff;
$success:#4CB8B3;
$danger: #F53756;
$warning: #fdda00;
$primary: #752F97;

// Sizes Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$large-desktop: 1400px;

// Border-radius
$border-radius-05: 0.5rem;
