
@use './../base/variables' as *; // Import all the variables from the file
@use './../base/mixins' as *; // Import all the mixins

.wrap-hero {
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - 17.5rem);
    position: relative;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
            270deg, 
            rgba($primary, 60%), 
            rgba(darken($primary, 20%), 90%)
            );
        }
        @include responsive($tablet) {
            height: calc(100vh - 12.9rem);
        }
        @include responsive($desktop) {
        height: calc(100vh - 9.1rem);
    }
    &__info {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: $white;
        &--title {
            font-size: 7rem;
            margin: 0;
        }
        &--date {
            background: $danger;
            padding: 1rem 2rem;
            margin-top: 2rem;
            width: fit-content;
            border-radius: $border-radius-05;
        }
    }
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}