

@use './../base/variables' as *; // Import all variables from _variables.scss
@use './../base/mixins' as *; // Import all mixins from _mixins.scss

.wrap-tickets {
    background: $success;
    &__title {
        color: $white;
        text-align: center;
    }
    .wrapper-tickets {
        @include responsive($tablet) {
            @include grid(2, 1fr, 5rem);
        }
        .pass {
            border-radius: 15px;
            transition: transform .2s ease-in-out;
            &:hover {
                transform: scale(1.05);
            }
            &-name {
                font-size: 3.6rem;
                font-weight: 900;
                color: $white;
                text-align: center;
            }
            &-header,
            &-footer {
                padding: .5rem;
                p {
                    text-align: center;
                    color: $white;
                    margin: 0;
                }
            }
            &-header {
                background: $danger;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                p {
                    text-transform: uppercase;
                    font-size: 2.2rem;
                }
            }
            &-body {
                background: $white;
                li {
                    padding: 2rem;
                    border-bottom: 1px solid $border;
                }
            }
            &-footer {
                background: $white;
                padding: 3rem;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                p {
                    font-size: 2.8rem;
                    font-weight: 900;
                    background: $primary;
                    padding: 1rem 0;
                    border-radius: $border-radius-1;
                    transition: background .2s ease-in-out;
                    &:hover {
                        background: darken($primary, 20%);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}