.wrap-property {
    .properties-publish {
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        li {
            display: flex;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            p {
                margin-left: 1rem;
            }
        }
    }
}