

/* Main - Blog */
@media screen and (min-width: 768px) {
    .main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.wrap-blog .blog-entry {
    margin-top: 24px;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 24px;
}
.wrap-blog .blog-entry:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}