/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($colummns, $space ) {
    display: grid;
    gap: $space;
    grid-template-columns: repeat($colummns, 1fr);
}