@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$mainFont: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$yellow: #E08709;;
$green: #71B100;
$white: #FFFFFF;
$gray: #e1e1e1;
$darkGray: #333333;
$red: #ff0000;

// Separación
$separation: 5rem;

// Fuentes
$light: 300;
$regular : 400;
$bold: 700;
$bolder: 900;

// Border Radius
$border-radius-10: 1rem;
$border-radius-15: 1.5rem;

// Sizes
$full: 100%;
$fit-content: fit-content;